.result{
  height: 45vh;
  width: 40vw;
  background-color: white;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
  border-right: 10px solid #0097a7;
}
.result img{
    height: 200px;
    width: 200px;
    margin: 5px 30px;
    border-radius: 100px;
}
.result h4{
    text-align: center;
    color: #0097a7;
    font-size: 20px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.description{
    margin: 20px 0px;
    width: 20vw;
}
.date{
    margin-bottom:10px ;
    color: #0097a7;
}
.edit-btn{
    background-color: #0097a7;
}
.delete-btn{
    background-color: tomato;
}
.button{
    width: 100px;
    height: 40px;
    font-size: 19px;
    border-radius: 7px;
    color: white;
    border: white;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    align-self: flex-end;
}
@media(max-width: 1000px){
    .result{
        width: 80vw;
    }
}
@media(max-width: 600px){
    .result{
        width: 95vw;
        margin-left: 1rem;
    }
    .description{
        margin: 10px 0px;
        width: 40vw;
    }
    .date{
        width: 40vw;
    }
}